body {
    width: 1000px;
    margin: 30px auto;
    /*background-image: url(bg1.jpg);*/
    background-size: 100%;
}

.logo,
.navigasi,
.content,
.sidebar,
.footer {
    margin-bottom: 5px;
    padding: 15px 0;
}

/*------------------------------header mulai-------------------------------*/
.logo {
    width: 100%;
    height: auto;
    background: #99D9EA;
    text-align: center;
    font-family: Garamond, Lora, serif;
    font-style: italic;
    font-weight: bold;
    color: #FD7E00;
}

.navigasi{
    width: 100%;
    height: auto;
    background: #99D9EA;
    text-align: center;
}

.navigasi ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
}

.navigasi li {
    float: left;
    margin: 0 10px;
}
/*------------------------------------header akhir-----------------------------------*/


/*--------------------------main mulai--------------------------------*/
main {
    display: flex;
}

.padding_this {
    padding: 15px;
}

.subtitle_1 {
    font-family: Garamond, Lora, serif;
    text-align: justify;
    font-style: italic;
    font-weight: unset;
}

.isi {
    font-family: Garamond, Lora, serif;
    text-align: justify;
    font-weight: unset;
}

.content {
    width: 80%;
    background: #EFE4B0;
}

.sidebar {
    width: 100%;
    height: auto;
}

.sidebar_content {
    color: black;

}

.sidebar_li {
    margin-top: 10px;
    text-decoration: none;
}

/*-----------------------------main akhir--------------------------------*/

/*-----------------------Style Slideshow-------------------------*/
.Slideshow {
    background-color: transparent;
    /*margin-left: 25%;*/
    position: relative;
    width: 30%;
    height: auto;
}
.Slideshow h1 {
    background: #99D9EA;
    margin-top: auto;
    height: 220px;
    text-align: center;
    
    text-decoration: none;
    font-family: Garamond, Lora, serif;
    font-style: italic;
    font-weight: bold;
    color: #FD7E00 ;
}
.mySlides {
    align-items: center;
    width: 90%;
    margin-left: 5% ;
    margin-top: 10px;
    height: auto;
}

.button-left {
    position: absolute;
    top: 50%;
    left: 0;
}

.button-right {
    position: absolute;
    top: 50%;
    right: 0;
}
/*---------------------------akhir slideshow---------------------------*/

/*----------------------mulai footer---------------------*/
.footer {
    height: auto;
    width: 100%;
    background: #C3C3C3;
    text-align: center;
}
/*----------------------akhir footer-----------------------*/

/*------font style-----------*/
.italic {
    font-weight: normal;
    font-style: italic;
}

/*-------image style-------*/
.img {
    width: 100px;
    height: 30px;
}

/*coba buat fixed header
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/